
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px 80px;
}

h1 {
    margin-top: 30px;
}

#ntfOnline p{
    color: rgb(17, 148, 17);
    font-size: 30px;
    font-weight: bold;
}

#ntfOffline p{
    color: rgb(171, 5, 5);
    font-size: 30px;
    font-weight: bold;
}

#txtMessage{
    width: 10%;
    height: 30px;
}

#btnSend{
    height: 40px;
    width: 50px;
    padding: 5px;
    color: white;
    background-color: rgb(0, 132, 255);
    border: solid .5 black;
    
}